@media screen and (min-width:480px) {
  body{
    text-align: center;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
  }
  
  .app-flex-container{
    display: flex;
    flex-direction: row;  
  }
  
  .product-list{
    order: 1;
  }
  
  .category{
    order: 2;
    margin: 2rem;
  }
  
  .sort-limit{
    order: 3;
    margin: 2rem;
  }  
}

@media screen and (min-width:800px) {
  body{
    text-align: center;
    background-color: aliceblue;
    font-size: medium;
  }
  
  .app-flex-container{
    display: grid;
    grid-template-columns: auto auto auto;  
  }
  
  .product-list{
    order: 1;
  }
  
  .category{
    order: 0;
    margin: 2rem;
  }
  
  .sort-limit{
    order: 2;
    margin: 2rem;
  }  
}
